<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
		version="1.2"
		id="http://webos-goodies.jp/fix-mac-opera"
		defaultlocale="en">
  <name xml:lang="en">Fix ctrl shortcut (Mac)</name>
  <name xml:lang="ja">Fix ctrl shortcut (Mac)</name>
  <description xml:lang="en">Fix emacs-style shortcut keys (Ctrl-F/B etc...) on Opera for Mac.</description>
  <description xml:lang="ja">Mac版OperaでCtrl-Hなどが二重に入力されてしまうバグを修正します。</description>
  <author href="http://webos-goodies.jp" email="contact@webos-goodies.jp">WebOS Goodies</author>
  <license href="http://www.opensource.org/licenses/apache2.0">
	Licensed under the Apache License 2.0
  </license>
  <icon src="icon-64.png"/>
</widget>
